.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.gallery__card {
  width: 260px;
  height: 240px;
  background-color: var(--main-bg-color);
}

.gallery__card img {
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .gallery {
    column-gap: 20px;
    row-gap: 20px;
  }

  .gallery__card {
    width: 200px;
    height: 180px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    column-gap: 5px;
    row-gap: 5px;
  }

  .gallery__card {
    width: 140px;
    height: 120px;
    flex-grow: 1;
  }
}