.service-card {
  width: 260px;
  text-align: center;
  color: var(--dark-color);
}

.service-card__figure {
  border: 5px solid var(--additional-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.service-card__icon {
  width: 40%;
  height: 40%;
}

.service-card__label {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}

.service-card__text {
  font-size: 1.4em;
}

@media screen and (max-width: 1024px) {
  .service-card {
    width: 220px;
  }

  .service-card__label {
    font-size: 1.8em;
  }

  .service-card__figure {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .service-card__label {
    font-size: 1.6em;
    margin-bottom: 5px;
  }

  .service-card__figure {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .service-card {
    width: 100%;
  }

  .service-card__figure {
    border: 3px solid var(--additional-color);
  }

  .service-card__label {
    font-size: 1.4em;
  }

  .service-card__text {
    font-size: 1.3em;
  }
}