.section-welcome {
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  box-sizing: border-box;
}

.section-welcome__label {
  color: var(--light-color);
  margin-bottom: 10px;
}

.section-welcome__text {
  font-size: 2.0em;
  color: var(--main-color);
  opacity: 0.75;
}