.footer {
  background-color: var(--main-bg-color);
}

.footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.footer__link {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  width: 60%;
  height: 60%;
}


@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer__link {
    width: 25px;
    height: 25px;
    border: 2px solid var(--main-color);
  }
}