.section-welcome {
  height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  box-sizing: border-box;
}

.section-welcome__label {
  color: var(--light-color);
  margin-bottom: 10px;
}

.section-welcome__text {
  font-size: 2.0em;
  color: var(--main-color);
  opacity: 0.75;
}

@media screen and (max-width: 1024px) {
  .section-welcome__text {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 768px) {
  .section-welcome {
    padding: 75px 0;
  }
  .section-welcome__text {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 480px) {
  .section-welcome {
    padding: 60px 0;
  }
  .section-welcome__text {
    font-size: 1.4em;
  }
}