@import url(testimonial.css);


.section-testimonials {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.section-testimonials__wrapper {
  padding-top: 100px;
  padding-bottom: 170px;
}

.section-testimonials__label {
  margin-bottom: 140px;
}

.section-testimonials__container {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}


@media screen and (max-width: 1024px) {
  .section-testimonials__wrapper {
    padding-bottom: 100px;
  }

  .section-testimonials__label {
    margin-bottom: 70px;
  }

  .section-testimonials__container {
    width: 100%;
    row-gap: 70px;
  }
}

@media screen and (max-width: 768px) {
  .section-testimonials__wrapper {
    padding-bottom: 70px;
    padding-top: 70px;
  }

  .section-testimonials__label {
    margin-bottom: 45px;
  }

  .section-testimonials__container {
    row-gap: 45px;
  }
}

@media screen and (max-width: 480px) {
  .section-testimonials__label {
    margin-bottom: 30px;
  }

  .section-testimonials__container {
    row-gap: 30px;
  }
}