@import url(member.css);


.section-team {
  background-color: var(--main-bg-color);
}

.section-team__wrapper {
  padding-top: 80px;
  padding-bottom: 160px;
}

.section-team__label {
  color: var(--main-color);
  margin-bottom: 130px;
}